<a href="https://colab.research.google.com/github/victorm0202/Curso_banxico/blob/Python-basics/03_Condicionales_y_Ciclos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 Condicionar permite dividir el flujo de un programa en diferentes caminos.

## Condicionales

### Sentencia *if*

El if se ejecuta siempre que la expresión que comprueba devuelva True:

In [ ]:
if True:  # equivale a if not False
    print("Se cumple la condición")
    print("También se muestre este print")

Se cumple la condición
También se muestre este print

In [ ]:
if False:  # equivale a if not False
    print("Se cumple la condición")
    print("También se muestre este print")

In [ ]:
if False:
  print('a')
print('b')

b

In [ ]:
# Encadenar varios if

a = 5
if a == 2:
    print("a vale 2")
if a == 5:
    print("a vale 5")

a vale 5

In [ ]:
#Anidar if
a = 5
b = 10
if a == 5:
    print("a vale",a, end='  ')
    if b == 10:
        print("y b vale",b)

a vale 5  y b vale 10

### Sentencia *else*

En ocasiones el *if* tiene una instrucción  que debe ejecutarse cuando no se cumpla la condición. Se usa la sentencia **else( )** para encadenar las instrucciones

In [ ]:
n = 11
if n % 2 == 0:
    print(n,"es un número par")
else:
    print(n,"es un número impar")

11 es un número impar

In [ ]:
if 0:
    print("Se reconoce como TRUE")
else: 
    print("Se reconoce como FALSE")

Se reconoce como FALSE

In [ ]:
if 1:
    print("Se reconoce como TRUE")
else: 
    print("Se reconoce como FALSE")

Se reconoce como TRUE

In [ ]:
if 3.1415:
    print("Se reconoce como TRUE")
else: 
    print("Se reconoce como FALSE")

Se reconoce como TRUE

In [ ]:
if -0.25:
    print("Se reconoce como TRUE")
else: 
    print("Se reconoce como FALSE")

Se reconoce como TRUE

### Sentencia *elif*

La sentencia **elif** es útil al evaluar múltiples condiciones

In [ ]:
comando = "SALUDAR"

if comando == "ENTRAR":
    print("Bienvenido al sistema")
elif comando == "SALUDAR":
    print("Hola, espero que te lo estés pasando bien aprendiendo Python")
elif comando == "SALIR":
    print("Saliendo del sistema...")
else:
    print("Este comando no se reconoce")

Hola, espero que te lo estés pasando bien aprendiendo Python

In [ ]:
nota = float(input("Introduce una calificación entre 0 y 10: "))

if nota >= 9:
    print("Sobresaliente")
elif nota >= 7:
    print("Notable")
elif nota >= 6:
    print("Bien")
elif nota >= 5:
    print("Suficiente")
else:
    print("Insuficiente")

Introduce una calificación entre 0 y 10: 8
Notable

## Ciclos

### Ciclo *for*

En general, un bucle es una estructura de control que repite un bloque de instrucciones. Un bucle for es un bucle que repite el bloque de instrucciones un número predeterminado de veces. El bloque de instrucciones que se repite se suele llamar cuerpo del bucle y cada repetición se suele llamar iteración.

La sintaxis de un bucle for es la siguiente:



for variable in elemento iterable (lista, cadena, range, etc.):

    cuerpo del bucle


No es necesario definir la variable de control antes del bucle, aunque se puede utilizar como variable de control una variable ya definida en el programa.El cuerpo del bucle se ejecuta tantas veces como elementos tenga el elemento recorrible (elementos de una lista o de un range(), caracteres de una cadena, etc.).

In [ ]:
## ciclo  for 1

print("Comienzo")
for i in [0, 1, 2]:
    print("Hola ", end="\t")
print("\nFinal")

Comienzo
Hola 	Hola 	Hola
Final

In [ ]:
print(range(7))
print(range(2,10))
print(list(range(7)))
help(range)

range(0, 7)
range(2, 10)
[0, 1, 2, 3, 4, 5, 6]
Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      self != 0
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

In [ ]:
# ciclo for 2 iterar sobre posiciones

pares=[2,4,6,8,10,12,14,16,18]


for i in range(len(pares)):
    print('la posición {} está ocupada por {}'.format(i, pares[i]) )

la posición 0 está ocupada por 2
la posición 1 está ocupada por 4
la posición 2 está ocupada por 6
la posición 3 está ocupada por 8
la posición 4 está ocupada por 10
la posición 5 está ocupada por 12
la posición 6 está ocupada por 14
la posición 7 está ocupada por 16
la posición 8 está ocupada por 18

In [ ]:
# ciclo por elementos
i=0

for par in pares:
    print('la posición {} está ocupada por {}'.format(i, par))
    i+=1

la posición 0 está ocupada por 2
la posición 1 está ocupada por 4
la posición 2 está ocupada por 6
la posición 3 está ocupada por 8
la posición 4 está ocupada por 10
la posición 5 está ocupada por 12
la posición 6 está ocupada por 14
la posición 7 está ocupada por 16
la posición 8 está ocupada por 18

In [ ]:
enumerate(pares)

In [ ]:
for posicion,par in enumerate(pares):
    print('la posición {} está ocupada por {}'.format(posicion, par))

la posición 0 está ocupada por 2
la posición 1 está ocupada por 4
la posición 2 está ocupada por 6
la posición 3 está ocupada por 8
la posición 4 está ocupada por 10
la posición 5 está ocupada por 12
la posición 6 está ocupada por 14
la posición 7 está ocupada por 16
la posición 8 está ocupada por 18

In [ ]:
# ciclo for anidado

pares=[2,4,6,8,10,12,14,16,18]
impares=[1,3,5,7,9,11,13,15,17,19]
salto=1

for par in pares:
    for impar in impares:
        if salto%5!=0:
            print(par*impar, end=', ')
        else:
            print(par*impar, end=' ')
            print('son cinco números')
        salto+=1

2, 6, 10, 14, 18 son cinco números
22, 26, 30, 34, 38 son cinco números
4, 12, 20, 28, 36 son cinco números
44, 52, 60, 68, 76 son cinco números
6, 18, 30, 42, 54 son cinco números
66, 78, 90, 102, 114 son cinco números
8, 24, 40, 56, 72 son cinco números
88, 104, 120, 136, 152 son cinco números
10, 30, 50, 70, 90 son cinco números
110, 130, 150, 170, 190 son cinco números
12, 36, 60, 84, 108 son cinco números
132, 156, 180, 204, 228 son cinco números
14, 42, 70, 98, 126 son cinco números
154, 182, 210, 238, 266 son cinco números
16, 48, 80, 112, 144 son cinco números
176, 208, 240, 272, 304 son cinco números
18, 54, 90, 126, 162 son cinco números
198, 234, 270, 306, 342 son cinco números

In [ ]:
# Uso del zip
pares=[2,4,6,8,10,12,14,16,18]
impares=[1,3,5,7,9,11,13,15,17]
for par, impar in zip(pares,impares):
    print('{} {}'.format(par,impar))

pares=[2,4,6,8,10,12,14,16,18]
impares=[1,3,5,7,9,11,13,15,17,19]
for par, impar in zip(pares,impares):
    print('{} {}'.format(par,impar))

2 1
4 3
6 5
8 7
10 9
12 11
14 13
16 15
18 17
2 1
4 3
6 5
8 7
10 9
12 11
14 13
16 15
18 17

In [ ]:
mylist=[]
for i in range(1,41):
    mylist.append(i**2)

mylist

[1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400,
 441,
 484,
 529,
 576,
 625,
 676,
 729,
 784,
 841,
 900,
 961,
 1024,
 1089,
 1156,
 1225,
 1296,
 1369,
 1444,
 1521,
 1600]



Los ciclos for suelen ser  útiles para 'llenar' secuencias en python

In [ ]:
# Agregar a una lista los múltiplos de 7 menores a 600

num=7
limsup=600

mylist=[]
for i in range(1,limsup+1):
    if i%num==0:
        mylist.append(i)
    
mylist

[7,
 14,
 21,
 28,
 35,
 42,
 49,
 56,
 63,
 70,
 77,
 84,
 91,
 98,
 105,
 112,
 119,
 126,
 133,
 140,
 147,
 154,
 161,
 168,
 175,
 182,
 189,
 196,
 203,
 210,
 217,
 224,
 231,
 238,
 245,
 252,
 259,
 266,
 273,
 280,
 287,
 294,
 301,
 308,
 315,
 322,
 329,
 336,
 343,
 350,
 357,
 364,
 371,
 378,
 385,
 392,
 399,
 406,
 413,
 420,
 427,
 434,
 441,
 448,
 455,
 462,
 469,
 476,
 483,
 490,
 497,
 504,
 511,
 518,
 525,
 532,
 539,
 546,
 553,
 560,
 567,
 574,
 581,
 588,
 595]

In [ ]:
mylist=[]
lim2=limsup//num + 1
for i in range(1,lim2+1):
  if 7*i<600:
    mylist.append(7*i)

mylist

[7,
 14,
 21,
 28,
 35,
 42,
 49,
 56,
 63,
 70,
 77,
 84,
 91,
 98,
 105,
 112,
 119,
 126,
 133,
 140,
 147,
 154,
 161,
 168,
 175,
 182,
 189,
 196,
 203,
 210,
 217,
 224,
 231,
 238,
 245,
 252,
 259,
 266,
 273,
 280,
 287,
 294,
 301,
 308,
 315,
 322,
 329,
 336,
 343,
 350,
 357,
 364,
 371,
 378,
 385,
 392,
 399,
 406,
 413,
 420,
 427,
 434,
 441,
 448,
 455,
 462,
 469,
 476,
 483,
 490,
 497,
 504,
 511,
 518,
 525,
 532,
 539,
 546,
 553,
 560,
 567,
 574,
 581,
 588,
 595]

In [ ]:
# Llenar una lista con los cuadrados de los primeros 40 naturales

mylist=[0]*40 # lista con 40 ceros

for i in range(40): # Llenar la lista posición a posición
    mylist[i]= pow(i+1,2)  

print(mylist)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600]

In [ ]:
# Otra forma
mylist=list() # crear una lista vacía
for i in range(1,41): # Llenar la lista posición a posición
    mylist.append(pow(i,2))  # usando el método append

print(mylist)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600]

In [ ]:

# Llenar un diccionario con los primeros 20 impares como llave y como valor su cuadrado

my_dict=dict() # Crear diccionario vacio

for key, value in zip(range(1,41), mylist):
    if key%2: #llenar impares ¿por qué funciona?
        my_dict[key]=value
        print('{}:{}'.format(key,my_dict[key]))

1:1
3:9
5:25
7:49
9:81
11:121
13:169
15:225
17:289
19:361
21:441
23:529
25:625
27:729
29:841
31:961
33:1089
35:1225
37:1369
39:1521

### list comprehension

Esta sintaxis permite llenar con mayor facilidad secuencias

In [ ]:
# Llenar una lista con los cuadrados de los primeros 40 naturales

mylist= [i for i in range(1,41)]

print(mylist)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40]

In [ ]:
#Poner en una lista los múltiplos de  7 menores a 50

[ i for i in range(50) if i%7==0]

[0, 7, 14, 21, 28, 35, 42, 49]

In [ ]:
# Llenar un diccionario con los primeros 10 impares como llave y como valor su cuadrado

my_dict={key:pow(key,2) for key in range(1,20) if key%2!=0}

for key,value in my_dict.items():
  print('{}:{}'.format(key,value))

1:1
3:9
5:25
7:49
9:81
11:121
13:169
15:225
17:289
19:361

In [ ]:
# Llenar un diccionario con los primeros 10 impares como llave y como valor su cuadrado

my_dict={key:pow(key,2) for key in range(1,20,2) }

for key,value in my_dict.items():
  print('{}:{}'.format(key,value))

1:1
3:9
5:25
7:49
9:81
11:121
13:169
15:225
17:289
19:361

In [ ]:
# Crear una lista con todas las posibles combinaciones a+b+c con a,b y c en el rango de 1 al 5, tal que
# a + b + c sea menor que 12 y a, b sean pares

r=range(1,6)
[[a,b,c] for a in r for b in r for c in r if a+c+b<12 if a%2==0 and b%2==0]

[[2, 2, 1],
 [2, 2, 2],
 [2, 2, 3],
 [2, 2, 4],
 [2, 2, 5],
 [2, 4, 1],
 [2, 4, 2],
 [2, 4, 3],
 [2, 4, 4],
 [2, 4, 5],
 [4, 2, 1],
 [4, 2, 2],
 [4, 2, 3],
 [4, 2, 4],
 [4, 2, 5],
 [4, 4, 1],
 [4, 4, 2],
 [4, 4, 3]]

In [ ]:
articulos=['abaco','tijeras','pegamento','borrador','tajador','lápiz','pluma','pegamento']
cantidades=[i for i in range(len(articulos))]
precios=[2*i+1 for i in range(3,11)]

In [ ]:
# Generar un diccionario
#articulo:[cantidad, precio, valor]

mydict={articulo:[cantidad,precio,cantidad*precio] for articulo,cantidad,precio in zip(articulos,cantidades,precios)}

for key, values in mydict.items():
  print('{}:{}'.format(key,values))

abaco:[0, 7, 0]
tijeras:[1, 9, 9]
pegamento:[7, 21, 147]
borrador:[3, 13, 39]
tajador:[4, 15, 60]
lápiz:[5, 17, 85]
pluma:[6, 19, 114]

*List comprehesión* permite crear tuplas

In [ ]:
n=4
my_tuple=tuple(x*y for x, y in zip(range(5,30), range(20,120,4)))
print(my_tuple)

(100, 144, 196, 256, 324, 400, 484, 576, 676, 784, 900, 1024, 1156, 1296, 1444, 1600, 1764, 1936, 2116, 2304, 2500, 2704, 2916, 3136, 3364)

## Ciclo *while*

Iterar significa realizar una acción varias veces. Cada vez que se repite se denomina iteración. Debe indicarse un criterio de paro

In [ ]:
c = 0
while c <= 10:
    c+=1
    print("c vale: ", c)

c vale:  1
c vale:  2
c vale:  3
c vale:  4
c vale:  5
c vale:  6
c vale:  7
c vale:  8
c vale:  9
c vale:  10
c vale:  11

In [ ]:
# Puede usarse la sentencia else junto con el ciclo while. Esto funciona para indicar que la condición ya no se cumple

c = 0
while c <= 5:
    c+=1
    print("c vale", c)
else:
    print("Se ha completado toda la iteración y c vale", c)

c vale 1
c vale 2
c vale 3
c vale 4
c vale 5
c vale 6
Se ha completado toda la iteración y c vale 6

In [ ]:
# La instrucción break sirve para "romper" la ejecución del While en cualquier momento. No se ejecutará el Else, ya que éste sólo se llama al finalizar la iteración

c = 2
while c <= 8:
    c+=1
    if (c==4):
        print("Rompemos el bucle cuando c vale", c)
        break
    print("c vale",c)
else:
    print("Se ha completado toda la iteración y c vale", c)

c vale 3
Rompemos el bucle cuando c vale 4

In [ ]:
# La instrucción break sirve para "romper" la ejecución del While en cualquier momento. No se ejecutará el Else, ya que éste sólo se llama al finalizar la iteración

c = 4
while c <= 8:
    c+=1
    if (c==4):
        print("Rompemos el bucle cuando c vale", c)
        break
    print("c vale",c)
else:
    print("Se ha completado toda la iteración y c vale", c)

c vale 5
c vale 6
c vale 7
c vale 8
c vale 9
Se ha completado toda la iteración y c vale 9

In [ ]:
# La instruccion continue sirve para "saltarse" la iteración actual sin romper el bucle.

c = 0

while c <= 5:
    c+=1
    if c==3 or c==4:
        print("Continuamos con la siguiente iteración", c)
        continue
    print("c vale",c)
else:
    print("Se ha completado toda la iteración y c vale", c)

c vale 1
c vale 2
Continuamos con la siguiente iteración 3
Continuamos con la siguiente iteración 4
c vale 5
c vale 6
Se ha completado toda la iteración y c vale 6